@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

html {
    font-size: 62.5%;
}

:root {
    --primary-color: #1c2833;
    --secondary-color: #fff;
    --bg-color: #f2f3f4;
}
